/*
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
    Config file for defining DSL2 per module options and publishing paths
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
    Available keys to override module options:
        ext.args   = Additional arguments appended to command in module.
        ext.args2  = Second set of arguments appended to command in module (multi-tool modules).
        ext.args3  = Third set of arguments appended to command in module (multi-tool modules).
        ext.prefix = File name prefix for output files.
----------------------------------------------------------------------------------------
*/

process {

    publishDir = [
        path: { "${params.outdir}/${task.process.tokenize(':')[-1].tokenize('_')[0].toLowerCase()}" },
        mode: params.publish_dir_mode,
        saveAs: { filename -> filename.equals('versions.yml') ? null : filename }
    ]

    withName: 'PRETEXT_TO_ASM' {
        publishDir = [
            path: { "${params.outdir}/post-curation/${meta.sample}/pretext-to-asm" },
            mode: params.publish_dir_mode
        ]
    }

    withName: 'RAPID_CURATION' {
        publishDir = [
            path: { "${params.outdir}/post-curation/${meta.sample}/rapid-curation" },
            mode: params.publish_dir_mode
        ]
    }

    withName: 'MASHMAP' {
        publishDir = [
            path: { "${params.outdir}/post-curation/${meta.sample}/update_mapping" },
            mode: params.publish_dir_mode
        ]
        ext.args = [
            "-f one-to-one",
            "-s 50000",
            "--legacy"
        ].join(' ').trim()
    }

    withName: 'UPDATE_MAPPING' {
        publishDir = [
            path: { "${params.outdir}/post-curation/${meta.sample}/update_mapping" },
            mode: params.publish_dir_mode
        ]
    }

    withName: 'BUSCO_BUSCO' {
        ext.args = { '--miniprot' }
        publishDir = [
            path: { "${params.outdir}/post-curation/${meta.sample}/busco" },
            mode: params.publish_dir_mode
        ]
    }

    withName: 'MERQURY_MERQURY' {
        publishDir = [
            path: { "${params.outdir}/post-curation/${meta.sample}/merqury" },
            mode: params.publish_dir_mode
        ]
    }

    withName: 'GFASTATS_HAP1' {
        publishDir = [
            path: { "${params.outdir}/post-curation/${meta.sample}/gfastats" },
            mode: params.publish_dir_mode
        ]
        ext.args = [
            "--tabular",
            "--nstar-report"
        ].join(' ').trim()
    }

    withName: 'GFASTATS_HAP2' {
        publishDir = [
            path: { "${params.outdir}/post-curation/${meta.sample}/gfastats" },
            mode: params.publish_dir_mode
        ]
        ext.args = [
            "--tabular",
            "--nstar-report"
        ].join(' ').trim()
    }

    withName: 'CALCULATE_STATS' {
        publishDir = [
            path: { "${params.outdir}/post-curation/${meta.sample}/calculate_stats" },
            mode: params.publish_dir_mode
        ]
    }

    withName: 'CALCULATE_STATS_PRETEXT' {
        publishDir = [
            path: { "${params.outdir}/post-curation/${meta.sample}/calculate_stats" },
            mode: params.publish_dir_mode
        ]
    }

    withName: 'CAT_HIC' {
        publishDir = [
            path: { "${params.outdir}/post-curation/${meta.sample}/cat_hic" },
            mode: params.publish_dir_mode
        ]
    }

    withName: 'OMNIC_HAP1' {
        publishDir = [
            path: { "${params.outdir}/post-curation/${meta.sample}/omnic_hap1" },
            mode: params.publish_dir_mode
        ]
    }

    withName: 'OMNIC_HAP2' {
        publishDir = [
            path: { "${params.outdir}/post-curation/${meta.sample}/omnic_hap2" },
            mode: params.publish_dir_mode
        ]
    }

    withName: 'PRETEXTMAP_HAP_1' {
        publishDir = [
            path: { "${params.outdir}/post-curation/${meta.sample}/pretextmap_hap_1" },
            mode: params.publish_dir_mode
        ]
    }

    withName: 'PRETEXTMAP_HAP_2' {
        publishDir = [
            path: { "${params.outdir}/post-curation/${meta.sample}/pretextmap_hap_2" },
            mode: params.publish_dir_mode
        ]
    }

    withName: 'PRETEXTSNAPSHOT_HAP1' {
        publishDir = [
            path: { "${params.outdir}/post-curation/${meta.sample}/pretextsnapshot_hap1" },
            mode: params.publish_dir_mode
        ]
    }

    withName: 'PRETEXTSNAPSHOT_HAP2' {
        publishDir = [
            path: { "${params.outdir}/post-curation/${meta.sample}/pretextsnapshot_hap2" },
            mode: params.publish_dir_mode
        ]
    }

    withName: 'MULTIQC' {
        ext.args   = { params.multiqc_title ? "--title \"$params.multiqc_title\"" : '' }
        publishDir = [
            path: { "${params.outdir}/post-curation/${meta.sample}/multiqc" },
            mode: params.publish_dir_mode,
            saveAs: { filename -> filename.equals('versions.yml') ? null : filename }
        ]
    }
}